<!doctype html>
<html>
	<body>
		<form method="post">
			<label>Name:
				<input type="text" id="field_username" name="name" value="<%=data.name%>">
			</label>
			<br />
			<label>Email:
				<input type="email" id="field_email" name="email" value="<%=data.email%>">
			</label>
			<br />
			<label>Password:
				<input type="password" id="field_password" name="password" value="<%=data.password%>">
			 </label>
			<br />
		  <button type="submit">Edit</button>
	</body>
</form>