<form action="/users/register" method="post">
	<label>Name:
		<input type="text" id="field_username" name="name" value="">
	</label>
	<br />
	<label>Email:
		<input type="email" id="field_email" name="email" value="">
	</label>
	<br />
	<label>Password:
		<input type="password" id="field_password" name="password" value="">
	 </label>
	<br />
  <button type="submit">Register</button>
</form>

<% if(error){ %>
  <div class="error">
    <%= error %>
  </div>
<% } %>

<p>Heeft u al een account? Log dan <a href="/users/login">hier</a> in.</p>

