<%- include('./deelsjabloon/kop.ejs'); %>
	<h1>Voorpagina</h1>
	<ul>
		<li><a href="/studenten">Studenten</a></li>
		<li><a href="/studenten/0">Student 0</a></li>
		<li><a href="/bestanden">Bestanden</a></li>
		<li><a href="/bestanden/upload">Upload bestand</a></li>
	</ul>
<%- include('./deelsjabloon/voet.ejs'); %>
