<html>
	<head>
		<meta charset="utf-8"/>
		<title>Upload</title>
		
	</head>
	<body>
		<form method="POST" action="../../files/upload" enctype="multipart/form-data">
			<input type="file" name="file">
			<input type="submit" value="Upload">
		</form>
		<a href="./">terug</a>
	</body>
</html>