<html>
<head>
	<title>login</title>
	<meta charset="utf-8"/>
</head>
<body>
	<form method="POST" action="../../routes/users.js">
		<label>username:
			<input type="text" name="username"/>
		</label>
		<label>password:
			<input type="text" name="username"/>
		</label>
	</form>
</body>
</html>