<%- include('../deelsjabloon/kop.ejs'); %>
	<h1>Bestanden</h1>

	<p><a href="/bestanden/upload">Upload bestand</a></p>

	<h2>Bestandenlijst</h2>

	<ul>
	<% files.forEach(function(file, i){ %>
		<li><a href="/upload_dir/<%= file %>"><%= file %></a></li>
	<% }) %>
	</ul>

<%- include('../deelsjabloon/voet.ejs'); %>


